
<div class="card">
  <div class="card-body">
    <form action="/admin/login" method="post">
      
        <div class="mb-3">
            <label for="slug">E-mail</label>
            <input type="email" class="form-control" name="email" placeholder="E-mail de contato">
        </div>
    
        <div class="mb-3">
            <label for="slug">Senha</label>
            <input type="password" class="form-control" name="senha" placeholder="">
        </div>
    
        <button type="submit" class="btn btn-success mt-2">Entrar no sistema</button>
    </form>
  </div>
</div>